body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  overflow-x: hidden;
  /* background-image: url(background-1.jpg);
  background-size: 100%; */
}
.form {
  display: none;
}
.greetings {
  display: none;
}
.showing {
  display: block;
}