.clock {
  line-height: 50px;
  color: white;
  margin: 25px;
  margin-bottom: 10px;
}
.clock h1 {
  height: 110px;
  line-height: 100px;
  text-align: center;
  font-size: 120px;
  padding: 0px;
  margin: 0px;
}
.clock .AmPm {
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  margin: 0px;
}
.clock .dates {
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Jeju Gothic', Arial, Helvetica, sans-serif;
  margin: 0px;
}