.clock {
  margin: 25px;
  line-height: 50px;
}
.clock h1 {
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 150px;
  padding: 0px;
  margin: 0px;
}
.clock .AmPm {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}
.clock .dates {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}