.toGreet {
    text-align: center;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.askName {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    transition: 0.2s;
    width: 210px;
    outline: 0px;
    text-align: center;
    font-size: 17px;
    font-family: 'Jeju Gothic', Arial, Helvetica, sans-serif;
    border: 0px;
    border-bottom: 2px solid rgb(180, 180, 180);
}
.askName:focus {
    border-color: rgb(255, 255, 255);
}
.greeting {
    color: white;
    font-size: 20px;
    font-family: 'Jeju Gothic', Arial, Helvetica, sans-serif;
    text-align: center;
}